/* colors */

$black: #000;
$white: #fff;
$accent: #F2F6FC;
$accentHover: #C2E7FF;
$borderGrey: #E1E3E1;
$tabHover: #DFDFDF;
$tabActiveHover: #7FCFFF;
//text
$textPrimary: #1f1f1f;
$textSecondary: #444746;
//btns
$btn: #0b57d0;
$link: #0B57D0;
$btnHover: #0842A0;
$btnDisabled: #041E49;

//dark mode variables
$darkMobile: #2C2C2C;
$darkMobileHover: #303030;
$darkHeader: #202124;
$darkBack: #1F1F1F;
$textLight: #E3E3E3;
$borderDark: #444746;
$accentDarkHover: #2C2C2C;
$btnDark: #A8C7FA;
$btnDarkText: #062e6f;


/* dimensions */

$burgerWh: 36px;

/* media breakpoints */

$w1600: 1600px;
$w1440: 1440px;
$w1376: 1376px;
$w1280: 1280px;
$w1152: 1152px;
$w1024: 1024px;
$w992: 992px;
$w768: 768px;
$w576: 576px;
$w480: 480px;
$w425: 425px;
$w375: 375px;
$w360: 360px;
$w320: 320px;
$w280: 280px;