header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #fff;
    transition: all 0.5s ease;

    &.sticky {
        background: #F2F6FC;
    }

    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 69px;

    &-logo {
        max-width: 126px;
        width: 100%;
    }

    &-nav {
        margin-left: auto;

        &__ul {
            display: flex;

            li {
                margin: 0 10px;

                a {
                    color: #1f1f1f;
                    font-weight: 600;
                }
            }
        }
    }
}

.btn {
    background: #0B57D0;
    border-radius: 22px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;

    svg{
        margin-left: 10px;
    }
}