header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: $white;
    transition: all 0.5s ease;

    &.sticky {
        background: $accent;
    }

    .container {
        max-width: 100%;
        padding: 0 24px;
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 69px;

    &-nav {
        margin-left: auto;

        &__ul {
            display: flex;

            li {
                margin: 0 10px;

                a {
                    color: $textPrimary;
                    font-weight: 600;
                }
            }
        }
    }

    &-darkMode {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}