include ../../components/burger/burger
mixin header(data)
  .container
    .header
      .header-burger
        +burger
      .header-logo
      .header-nav
        ul.header-nav__ul
          each item in data
            li: a(href=item.link)=item.title
      .header-feedback