.btn {
  background: $btn;
  border-radius: 22px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-grow: 0;
  padding: 0 22px;
  color: $white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;

  &.rect {
    border-radius: 8px;
  }

  &:hover {
    background: $btnHover;
  }

  svg {
    margin-left: 10px;
    flex-shrink: 0;
  }

  &-file,
  &-submit {
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex-grow: 0;
    }

    input {
      display: none;
    }
  }
}