include ../../../views/helpers/mixins.pug
mixin burger(modify)
      button.burger(class=""+(modify ? modify : '')+"")
            +icons('#ic_menu', 24)
mixin close(modify)
      button.burger(class=""+(modify ? modify : '')+"")
            +icons('#ic_close', 24)