include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/accordion/accordion.pug
include ../../blocks/components/headers/headers.pug
include ../../blocks/components/pagination/pagination.pug
include ../../blocks/components/mobileMenu/mobileMenu.pug
include ../../blocks/modules/header/header.pug

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Раздел 1
        meta(name="theme-color" content="#000")
        link(rel="manifest" href="manifest.json")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="msapplication-starturl" content="/")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
        link(rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png")
        link(rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png")
        link(rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png")
        link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
        link(rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png")
        link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png")
        link(rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png")
        link(rel="stylesheet" href="styles/main.css")
        link(rel="stylesheet" href="styles/exercise.css")
    body.perf-no-animation.page
        header
            block header
            +header([{},])           
        +mobileMenu()
        main
            .pageTitle
                .container
                    .pageTitle__wrp
                        .pageTitle__image(
                            style="background-image: url(https://cdn.thewirecutter.com/wp-content/media/2021/03/allinonecomputers-2048px-00116-2x1-1.jpg?auto=webp&quality=75&crop=2:1&width=1024)"
                        )
                        h1.section-h1.pageTitle__text Устройства компьютера
                        +breadcrumb([
                            {
                                link: "index.html",
                                text: "Разделы",
                            },
                            {
                                link: "section.html",
                                text: "Устройства компьютера",
                            },
                            {
                                link: "test.html",
                                text: "Задания",
                            },
                        ])
            section.exercise
                .container
                    h2.section-h2 Задания
                    .exercise__items
                        form(action="exercise.html", id="form-1").exercise__item
                            .title 1. &nbsp; Устройства компьютера
                            .desc Подпишите устройства компьютера, используя слова для справки
                            .btns
                                a.download.btn(href="exercises/exercise-1.docx" download)
                                    span Открыть
                                    +icons('#ic_launch', 24)
                                label.btn.btn-file
                                    span Загрузить
                                    +icons('#ic_upload', 24)
                                    input(type="file", name="file1")
                                label.btn.btn-submit
                                    span Отправить
                                    +icons('#ic_send', 24)
                                    input(type="submit")
                        form(action="exercise.html", id="form-2").exercise__item
                            .title 2. &nbsp; Функции устройств
                            .desc Поставьте в соответствие устройствам компьютера, функции которые они выполняют
                            .btns
                                a.download.btn(href="exercises/exercise-2.docx" download)
                                    span Открыть
                                    +icons('#ic_launch', 24)
                                label.btn.btn-file
                                    span Загрузить
                                    +icons('#ic_upload', 24)
                                    input(type="file", name="file2")
                                label.btn.btn-submit
                                    span Отправить
                                    +icons('#ic_send', 24)
                                    input(type="submit")
                        form(action="exercise.html", id="form-3").exercise__item
                            .title 3. &nbsp; Комплектующие системного блока
                            .desc Поставьте в соответствие текстовым полям правильные ответы
                            .btns
                                a.download.btn(href="exercises/exercise-3.docx" download)
                                    span Открыть
                                    +icons('#ic_launch', 24)
                                label.btn.btn-file
                                    span Загрузить
                                    +icons('#ic_upload', 24)
                                    input(type="file", name="file3")
                                label.btn.btn-submit
                                    span Отправить
                                    +icons('#ic_send', 24)
                                    input(type="submit")
                        form(action="exercise.html", id="form-4").exercise__item
                            .title 4. &nbsp; Функциональные клавиши клавиатуры
                            .desc Напишите названия функциональных клавиш, выполняющих предлагаемые функции
                            .btns
                                a.download.btn(href="exercises/exercise-4.docx" download)
                                    span Открыть
                                    +icons('#ic_launch', 24)
                                label.btn.btn-file
                                    span Загрузить
                                    +icons('#ic_upload', 24)
                                    input(type="file", name="file4")
                                label.btn.btn-submit
                                    span Отправить
                                    +icons('#ic_send', 24)
                                    input(type="submit")
                        form(action="exercise.html", id="form-5").exercise__item
                            .title 5. &nbsp; Единицы информации
                            .desc Запишите правильные соотношения между единицами измерения информации
                            .btns
                                a.download.btn(href="exercises/exercise-5.docx" download)
                                    span Открыть
                                    +icons('#ic_launch', 24)
                                label.btn.btn-file
                                    span Загрузить
                                    +icons('#ic_upload', 24)
                                    input(type="file", name="file5")
                                label.btn.btn-submit
                                    span Отправить
                                    +icons('#ic_send', 24)
                                    input(type="submit")
            //.exercise__submit
                    .exercise__submitTitle
                        .exercise__submitClose
                            +icons('#ic_close', 24)
                        h2.section-h3 Загрузить                        
                    .exercise__submitDesc Загрузить выбранные файлы?
                    .exercise__submitConfirm.btn
                        span Подтвердить
                        +icons('#ic_done', 24)                        
        footer
            include ../../blocks/modules/footer/footer.pug
        block scripts
            script(src="js/main.js")
            script(src="js/vendor.js")