@import "../styles/helpers/variables";

html {
  &.dark {

    section.login .loginForm .submit a {
      color: $btnDark;
    }

    .btn-blue {
      span {
        color: #062e6f !important;
      }

      svg {
        fill: #062e6f !important;
      }

      background: $btnDark !important;

    }

    &,
    body {
      background: $darkBack;
      color: $textLight;
    }


    .link {
      color: $btnDark;
    }

    .image,
    .loginForm {
      background: $darkBack !important;
    }

    section.login .loginForm {
      border-color: $borderDark !important;
    }

    .loginForm .fields input,
    .results__search input {
      background: none;
      color: $textLight !important;
      border-color: $borderDark !important;
    }

    .sections .swiper-slide .title,
    .sections .swiper-slide .desc {
      color: $textLight;
    }

    .mobileMenu {
      background: $darkMobile;

      .divider {
        background: $borderDark;
      }

      svg {
        fill: $textLight;
      }

      &-nav__ul li a {
        color: $textLight;
        background: $darkMobile;

        &:hover {
          background: $darkMobileHover;
        }
      }
    }

    header {
      background-color: $darkBack;

      svg {
        fill: $textLight;
      }

      &.sticky {
        background-color: $darkMobile;
      }
    }

    .results__search svg {
      fill: $textLight;
    }

    .tabs__toggles {
      background-color: $darkBack;
      border-color: $borderDark !important;

      .toggle {
        color: $textLight !important;

        &.is-active {
          background: none !important;
          color: $textLight !important;

          &::after {
            border-color: $btnDark !important;
          }
        }
      }
    }

    .footer {
      background: $darkMobile;
    }

    .section {


      &-h1,
      &-h2,
      &-h3 {
        color: $textLight;
      }
    }

    .pageTitle__text {
      color: $textPrimary;
    }

    .topics__item,
    .exercise__item,
    .test__formItem,
    .test__resultsMark {
      background: $darkBack !important;
      border-color: $borderDark !important;

      .section-h3,
      .title,
      .desc,
      label {
        color: $textLight;
      }
    }

    section.detail .topics__link {

      span {
        color: $btnDark;

        &:hover {
          border-bottom: 1px solid $btnDark;
        }
      }

      svg {
        fill: $btnDark;
      }

    }

    .btn {
      color: $white !important;
    }

    .topics__title,
    section .test__badge {
      color: $textLight !important;
    }

    .footer-desc__text,
    .footer ul li a {
      color: $textLight;
    }

    .edit-content table.no-borders th img,
    .edit-content table.no-borders tr img {
      mix-blend-mode: normal;
    }

    .table {
      border-color: $borderDark !important;
    }

    .table thead tr {
      background: $darkMobile !important;
    }

    .table td {
      color: $textLight !important;
      border-color: $borderDark !important;
    }

    .results__table {
      tr.body {
        border-color: $borderDark !important;
      }
    }

    .status__popup {
      background: $darkHeader;

      svg {
        fill: $textLight;
      }
    }

    .edit-content p {
      color: $textLight;
    }

    .edit-content ul li::before {
      background: $textLight;
    }

    .footer .footer-desc {
      border-color: $borderDark !important;
    }







  }



}