@import "../styles/helpers/variables";

body {
  &.dark {
    background: $darkBack;
    color: $textLight;

    .image,
    .loginForm {
      background: $darkBack !important;
    }

    .loginForm .fields input {
      background: none;
      border-color: $borderDark !important;
    }

    .sections .swiper-slide .title,
    .sections .swiper-slide .desc {
      color: $textLight;
    }

    .mobileMenu {
      background: $darkMobile;

      svg {
        fill: $textLight;
      }

      &-nav__ul li a {
        color: $textLight;
        background: $darkMobile;

        &:hover {
          background: $darkMobileHover;
        }
      }
    }

    header {
      background-color: $darkBack;

      svg {
        fill: $textLight;
      }

      &.sticky {
        background-color: $darkHeader;
      }
    }

    .tabs__toggles {
      background-color: $darkBack;

      .toggle {
        color: $textLight;
      }
    }

    .footer {
      background: $darkHeader;
    }

    .section {


      &-h1,
      &-h2,
      &-h3 {
        color: $textLight;
      }
    }

    .pageTitle__text {
      color: $textPrimary;
    }

    .topics__item,
    .exercise__item,
    .test__formItem,
    .test__resultsMark {
      background: $darkBack !important;
      border-color: $borderDark !important;

      .section-h3,
      .title,
      .desc,
      label {
        color: $textLight;
      }
    }

    section.detail .topics__link {

      span {
        color: $btnDark;

        &:hover {
          border-bottom: 1px solid $btnDark;
        }
      }

      svg {
        fill: $btnDark;
      }

    }

    .btn {
      color: $white !important;
    }

    .topics__title,
    section .test__badge {
      color: $textLight !important;
    }

    .footer-desc__text,
    .footer ul li a {
      color: $textLight;
    }

    .edit-content table.no-borders th img,
    .edit-content table.no-borders tr img {
      mix-blend-mode: normal;
    }

  }



}