@import "../styles/helpers/variables";

section {

    &.detail {
        overflow: visible;
        margin-top: 64px;

        .container {
            max-width: 1124px;
        }
    }

    &.detail.tabs {
        margin-top: 0;
    }

    &.detail {


        .section-h2 {
            margin-bottom: 25px;
            font-weight: 600;
        }

        .topics {
            margin: 0 -8px;
            margin-bottom: 40px;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: 960px) {
                &__item {
                    width: calc(50% - 16px);
                }
            }

            @media screen and (max-width: 600px) {
                margin-left: 0;
                margin-right: 0;

                &__item {
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &__item {
                padding: 24px;
                background: $white;
                border-radius: 8px;
                width: calc(33.33% - 16px);
                margin: 0 8px;
                margin-bottom: 16px;
                display: flex;
                flex-direction: column;
                transition: background 0.5s ease;
                border: 1px solid $borderGrey;
                align-items: flex-start;

                &:hover {
                    background: #E8F0FE;
                }
            }

            &__title,
            &__link {
                font-size: 18px;
                line-height: 24px;
            }

            &__title {
                color: $textPrimary;
                font-weight: 600;
                min-height: 48px;
                margin-bottom: 16px;
            }

            &__link {
                margin-top: auto;
                font-weight: 600;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;

                svg {
                    margin-left: 0px;
                    margin-right: 8px;
                    fill: $btn;
                }

                span {
                    color: $btn;
                    border-bottom: 1px solid transparent;
                    transition: all 0.25s ease;
                }
            }
        }

    }
}