@import "../styles/helpers/variables";

section {

    &.detail {
        .container {
            max-width: 1124px;
        }
    }

    &.detail {
        margin-top: 64px;

        .section-h2 {
            margin-bottom: 25px;
            font-weight: 600;
            padding: 0 16px;
        }

        .topics {
            margin: 0 -12px;
            margin-bottom: 40px;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: 960px) {
                &__item {
                    width: calc(50% - 24px);
                }
            }

            @media screen and (max-width: 600px) {
                margin-left: 0;
                margin-right: 0;

                &__item {
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &__item {
                padding: 32px;
                background: $accent;
                border-radius: 24px;
                width: calc(33.33% - 24px);
                margin: 0 12px;
                margin-bottom: 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: background 0.5s ease;

                &:hover {
                    background: $accentHover;
                }
            }

            &__title {
                color: $textPrimary;
                font-weight: 600;
                min-height: 48px;
                display: flex;
                align-items: center;
                padding-right: 16px;
            }

            &__link {
                width: 24px;
                height: 24px;
                margin-right: -12px;
            }
        }

    }
}