section {

    &.detail {
        .container {
            max-width: 1024px;
        }
    }

    &.detail {
        margin-top: 64px;

        .section-h2 {
            margin-bottom: 25px;
            font-weight: 600;
            padding: 0 16px;
        }

        .topics {
            margin: 0 -12px;
            margin-bottom: 40px;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: 960px) {
                &__item {
                    width: calc(50% - 24px);
                }
            }

            @media screen and (max-width: 600px) {
                margin-left: 0;
                margin-right: 0;

                &__item {
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &__item {
                padding: 32px;
                background: #F2F6FC;
                border-radius: 24px;
                width: calc(33.33% - 24px);
                margin: 0 12px;
                margin-bottom: 24px;
                display: flex;
                flex-direction: column;
                transition: background 0.5s ease;

                &:hover {
                    background: #C2E7FF;
                }
            }

            &__title {
                color: #1F1F1F;
                font-weight: bold;
                min-height: 48px;
            }

            &__link {
                margin-top: auto;
                padding-top: 16px;
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    margin-left: 10px;
                }

                span {
                    color: #0b57d0;
                    border-bottom: 1px solid transparent;
                    transition: all 0.25s ease;
                }

                span:hover {
                    color: #041E49;
                    border-bottom: 1px solid #041E49;
                }
            }
        }

    }
}