section {

    &.exercise {
        padding: 64px 0 40px;

        .container {
            max-width: 1024px;
        }

        .section-h2 {
            padding: 0 16px;
            font-weight: 600;
        }

    }

    .exercise {
        &__items {
            margin-top: 25px;
        }

        &__item {
            padding: 32px;
            background: #F2F6FC;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            transition: background 0.5s ease;
            width: 100%;
            margin-bottom: 24px;

            .title {
                font-size: 18px;
                color: #0b57d0;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .desc {
                color: #1F1F1F;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .btns {
                display: flex;
                margin: 0 -5px;

                .btn {
                    margin: 0 5px;
                    width: 160px;

                    svg {
                        margin-left: auto;
                    }

                    &-submit {
                        display: none;
                    }

                }

                @media screen and (max-width: 660px) {
                    flex-wrap: wrap;

                    .btn {
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }

                @media screen and (max-width: 480px) {
                    .btn {
                        width: calc(50% - 10px)
                    }
                }

                @media screen and (max-width: 425px) {
                    margin: 0;

                    .btn {
                        width: 100%;
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
            }
        }


    }
}

/* .exercise__submit {
    border-radius: 16px;
    max-width: 360px;
    margin-left: auto;
    position: fixed;
    bottom: -100%;
    left: 24px;
    right: 24px;
    max-height: 100vh;
    background: #EEE8F4;
    z-index: 4;
    overflow-y: auto;
    transition: all 0.5s ease;
    padding: 32px;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14),
        0 11px 15px -7px rgba(0, 0, 0, 0.12),
        0 24px 38px 3px rgba(0, 0, 0, 0.20);

    @media screen and (max-width: 480px) {
        left: 0;
        right: 0;
        max-width: 100%;
        padding: 32px 24px;
        border-radius: 0;

        &.is-active {
            bottom: 0;
        }

    }


    &.is-active {
        bottom: 24px;
    }

    &Title {
        display: flex;
        margin-bottom: 25px;

        .section-h3 {
            margin: 0;
            margin-left: 15px;
        }
    }

    &Desc {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .btn {
        display: inline-flex;
    }

} */