@import "../styles/helpers/variables";

section {

    &.exercise {
        padding: 64px 0 40px;

        .container {
            max-width: 1124px;
        }

        .section-h2 {
            font-weight: 600;
        }

    }

    .exercise {
        &__items {
            margin-top: 25px;
        }

        &__item {
            padding: 24px;
            background: $white;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            transition: background 0.5s ease;
            width: 100%;
            border: 1px solid $borderGrey;
            margin-bottom: 16px;

            .title {
                font-size: 18px;
                color: $black;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .desc {
                font-size: 14px;
                color: $textPrimary;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .mark {
                margin: 0;
            }

            .btns {
                display: flex;
                margin: 0 -5px;

                .btn {
                    margin: 0 5px;
                    justify-content: center;


                    svg {
                        margin-right: 8px;
                        margin-left: 0;
                        order: -1;
                    }

                    &-submit {
                        display: none;
                    }

                }

                @media screen and (max-width: 660px) {
                    flex-wrap: wrap;

                    .btn {
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }

                @media screen and (max-width: 480px) {
                    flex-wrap: nowrap;

                    .btn {
                        flex-grow: 1;
                        text-indent: -9999px;

                        svg {
                            margin-right: 0;
                            margin-left: 0;
                        }
                    }
                }
            }
        }


    }
}