@import "../styles/helpers/variables";

.exercise__content {
    max-width: 1024px;

    .title {
        font-weight: 600;
        color: $black;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .desc {
        font-weight: 600;
        margin-bottom: 20px;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item {
        &-3 {
            width: calc(100% / 3 - 12px);
            max-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 24px;
            background: $accent;
            border-radius: 8px;
            padding: 16px;

            @media screen and (max-width: 768px) {
                width: calc(50% - 12px);
            }

            img {
                height: 100px;
                width: auto;
                max-width: 100%;
                margin-bottom: 20px;
                mix-blend-mode: multiply;
            }

            input {
                display: block;
                width: 100%;
                max-width: 100%;
                border: none;
                border-bottom: 2px solid $btn;
                background: transparent;
                outline: none !important;
            }
        }


    }

    .check {
        display: flex;
        justify-content: flex-end;
    }
}