@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

section.sections {
    padding: 30px 0;
}

.sections {

    .container {
        max-width: 1300px;
    }

    .section-h1 {
        font-size: 64px;
        margin-bottom: 40px;
        padding: 0 16px;

        @media screen and (max-width: 960px) {
            font-size: 45px;
        }

        @media screen and (max-width: 480px) {
            font-size: 36px;
        }
    }

    .swiper {
        margin: 0 auto;
    }

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: hidden;
        max-width: 100%;
        width: calc(50% - 12px);
        margin-bottom: 40px;

        @media screen and (max-width: 960px) {
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:hover {
            /* .image {
                border-radius: 24px;
            } */

        }

        .image {
            position: relative;
            padding-top: 50%;
            background: $white;
            transition: border-radius cubic-bezier(0.4, 0, 0.2, 1) 250ms;
            border-radius: 64px;
            overflow: hidden;

            @media screen and (max-width: 480px) {
                padding-top: 100%;
            }



            img {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 40%;
            }
        }

        .title {
            padding: 0 16px;
            color: $textPrimary;
            font-size: 32px;
            margin: 16px 0 8px 0;

            @media screen and (max-width: 480px) {
                font-size: 24px;
            }
        }

        .desc {
            font-size: 16px;
            line-height: 150%;
            padding: 0 16px;
            color: $textSecondary;
            text-align: justify;
        }

        .goto {
            display: none !important;
            font-weight: 600;
            padding: 8px 16px;
            margin-top: auto;
            display: flex;
            align-items: center;

            svg {
                margin-left: 10px;
            }

            span {
                font-size: 16px;
                color: $btn;
                border-bottom: 1px solid transparent;
                transition: all 0.25s ease;
            }

            span:hover {
                color: $btnDisabled;
                border-bottom: 1px solid $btnDisabled;
            }
        }
    }
}