@import "../styles/helpers/variables";

section {
  &.tabs {
    overflow: visible;

    .container {
      max-width: 1124px;
    }
  }

  &.tabs {
    .tabs {

      &__content {

        .content {

          &.is-active {
            display: block !important;
          }
        }
      }

    }
  }


}