include helpers/mixins
include ../blocks/components/breadcrumbs/breadcrumbs.pug
include ../blocks/components/form/form.pug
include ../blocks/components/accordion/accordion.pug
include ../blocks/components/headers/headers.pug
include ../blocks/components/pagination/pagination.pug
include ../blocks/components/mobileMenu/mobileMenu.pug
include ../blocks/modules/header/header.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Главная
		meta(name="theme-color" content="#fff")
		link(rel="manifest" href="manifest.json")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="msapplication-starturl" content="/")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
		link(rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png")
		link(rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png")
		link(rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png")
		link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png")
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png")
		link(rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png")
		link(rel="stylesheet" href="styles/main.css")
		link(rel="stylesheet" href="styles/index.css")
	body.perf-no-animation.page
		header
			block header
			+header([
				{
					link: "/",
					title: 'Вход',
				},
			])
		+mobileMenu()
		main
			section.sections
				.container
					h1.section-h1 Разделы
					.swiper.sections-items
						.swiper-wrapper
							a(href="/section.html").swiper-slide.sections-items__item
								.image: img(class="swiper-lazy", src="https://cdn.thewirecutter.com/wp-content/media/2021/03/allinonecomputers-2048px-00116-2x1-1.jpg?auto=webp&quality=75&crop=2:1&width=1024", alt="")
								.title.section-h3 1. Знакомство с компьютером
								.desc Что такое компьютер? Как работает и где применяется? Устройства, входящие в состав компьютера. Единицы измерения информации.
								.goto
									span Перейти
									+icons('#ic_go',24)
							a(href="/").swiper-slide.sections-items__item
								.image: img(class="swiper-lazy", src="https://miro.medium.com/max/640/1*FgK4FrKAZgmlAoY-ZHXraw.jpeg", alt="")
								.title.section-h3 2. Операционные системы
								.desc Что такое операционная система и как она управляет ПК ? Краткий обзор операционных систем. Структрура окна Windows. Справочная система Windows.
								.goto
									span Перейти
									+icons('#ic_go',24)
							a(href="/").swiper-slide.sections-items__item
								.image: img(class="swiper-lazy", src="https://images.idgesg.net/images/article/2018/05/card_catalog_filing_cabinet_data_repository_library_archive_index_sashkinw_gettyimages_1200x800-100757562-large.jpg", alt="")
								.title.section-h3 3. Архивация данных
								.desc Окна программы WinRAR. Создание архива. Расширение возможности создания архива. Извлечение из архива
								.goto
									span Перейти
									+icons('#ic_go',24)
							a(href="/").swiper-slide.sections-items__item
								.image: img(class="swiper-lazy", src="https://i.guim.co.uk/img/media/3db080bdf2d816336ca04505d90d2b683df7321f/0_207_4782_2869/master/4782.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=ab8f4626c0ae185b53d0a74b13bc9ad0", alt="")
								.title.section-h3 4. Вирусы и антивирусы
								.desc Что такое компьютерный вирус? Как определить, что компьютер заражен вирусом? Антивирусные программы. Как удалить вирус.
								.goto
									span Перейти
									+icons('#ic_go',24)
							a(href="/").swiper-slide.sections-items__item
								.image: img(class="swiper-lazy", src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4qsko?ver=f011&q=90&h=675&w=830&b=%23FFFFFFFF&aim=true", alt="")
								.title.section-h3 5. Знакомство с Microsoft Word
								.desc Что такое Microsoft Word? Обзор окна программы. Создание, открытие и сохранение документов. Редактирование и работа с текстом. Вставка рисунков, фигур. Создание и оформление таблиц.
								.goto
									span Перейти
									+icons('#ic_go',24)
							a(href="/").swiper-slide.sections-items__item
								.image: img(class="swiper-lazy", src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4xdQw?ver=2885&q=90&h=675&w=830&b=%23FFFFFFFF&aim=true", alt="")
								.title.section-h3 6. Работа в Microsoft Excel
								.desc Что такое Microsoft Excel? Обзор окна, структура таблицы. Создание, открытие и сохранение документов. Ввод, форматирование и фильтрация данных.
								.goto
									span Перейти
									+icons('#ic_go',24)
							a(href="/").swiper-slide.sections-items__item
								.image: img(class="swiper-lazy", src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE2tZpb?ver=cb63&q=90&h=675&w=830&b=%23FFFFFFFF&aim=true", alt="")
								.title.section-h3 7. Знакомство с Microsoft Access
								.desc Что такое Microsoft Access? Обзор окна, структура программы. Создание, открытие и сохранение баз данных. Ввод, форматирование и поиск данных.
								.goto
									span Перейти
									+icons('#ic_go',24)
							a(href="/").swiper-slide.sections-items__item
								.image: img(class="swiper-lazy", src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4Cdki?ver=507c&q=90&h=675&w=830&b=%23FFFFFFFF&aim=true", alt="")
								.title.section-h3 8. Работа в Microsoft PowerPoint
								.desc Что такое PowerPoint? Использование конструктора и шаблонов. Оформление слайдов. Настройка анимации. Демонстрация презентации
								.goto
									span Перейти
									+icons('#ic_go',24)
							a(href="/").swiper-slide.sections-items__item
								.image: img(class="swiper-lazy", src="https://cdn.britannica.com/s:900x675,c:crop/88/129488-131-09AB5E83/Internet-blue-screen-blog-society-history-media-2009.jpg", alt="")
								.title.section-h3  9. Глобальная сеть Internet
								.desc Что такое Internet и зачем он нужен? Основы работы с браузером. Посковые порталы. Internet- магазины, услуги, банкинг. IP-телефония. Дистанционное обучение.
								.goto
									span Перейти
									+icons('#ic_go',24)
							a(href="/").swiper-slide.sections-items__item
								.image: img(class="swiper-lazy", src="https://miro.medium.com/max/3760/1*oMaAhnmepsPqjhAgBASIEw.jpeg", alt="")
								.title.section-h3 10. Облачные технологии
								.desc Как работает электронная почта? Создание, отправка и прием писем. Ответ и пересылка сообщение. Что такое Gmail и Google Drive. Особенности сервисов Gmail и Drive.
								.goto
									span Перейти
									+icons('#ic_go',24)
					.sections-pagination 
						.swiper-pagination
		footer
			block footer
				include ../blocks/modules/footer/footer.pug
		block scripts
			script(src="js/main.js")
			script(src="js/vendor.js")

