include ../../components/burger/burger
mixin mobileMenu()
  .mobileMenu
    .mobileMenu-header
      .mobileMenu-header__toggle
        +close()
    .mobileMenu-nav
      ul.mobileMenu-nav__ul
        li
          a 
            +icons('#ic_account', 24)
            span vladuks123.vv
        li
          a(href="index.html") Разделы
          .dropdown: +icons('#ic_dropdown', 24)
          ul.submenu
            li: a(href="section.html") Устройства компьютера
            li: a(href="section.html") Операционные системы
            li: a(href="section.html") Архивация данных
            li: a(href="section.html") Вирусы и антивирусы
            li: a(href="section.html") Знакомство с Microsoft Word
            li: a(href="section.html") Работа в Microsoft Excel
            li: a(href="section.html") Знакомство с Microsoft Access
            li: a(href="section.html") Работа в Microsoft PowerPoint
            li: a(href="section.html") Глобальная сеть Internet
            li: a(href="section.html") Облачные технологии
    .mobileMenu-footer
      ul.mobileMenu-nav__ul
        li
          a(href="login.html")
            +icons('#ic_logout', 24)
            span Выход
mixin mobileMenuReg()
  .mobileMenu
    .mobileMenu-header
      .mobileMenu-header__toggle
        +close()
    .mobileMenu-nav
      ul.mobileMenu-nav__ul
        li: a(href="/register.html") Регистрация
    .mobileMenu-footer
mixin mobileMenuLog()
  .mobileMenu
    .mobileMenu-header
      .mobileMenu-header__toggle
        +close()
    .mobileMenu-nav
      ul.mobileMenu-nav__ul
        li: a(href="/login.html") Войти
    .mobileMenu-footer