.mobileMenu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    width: 300px;
    background: #fff;
    transition: transform 0.3s ease;
    overflow-y: scroll;
    z-index: 1001;
    border-radius: 0 16px 16px 0;

    &.opened {
        transform: translateX(0);
    }

    &-header {
        &__toggle {
            display: flex;
            align-items: center;
            height: 69px;
        }
    }

    &-nav {
        &__ul li {
            display: flex;
            align-items: center;
            font-size: 16px;
            padding: 8px 16px;
            border-radius: 14px;
            min-height: 48px;
            margin-bottom: 6px;
            font-weight: 600;
            
            &:hover{
                background: #E3E3E3;
            }
            

            &.is-active{
                background: #C2E7FF;
                

                &:hover{
                    background: #7FCFFF;
                }
            }

            a{
                color: #1f1f1f;                
            }
        }
    }
}

@media screen and (max-width: $w1024) {}