.mobileMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    width: 280px;
    background: #fff;
    transition: transform 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1001;
    padding: 0 24px;
    padding-bottom: 25px;

    &.opened {
        transform: translateX(0);
    }

    &-header {
        &__toggle {
            display: flex;
            align-items: center;
            height: 69px;
        }
    }

    &-nav {
        flex-grow: 1;

        &>* {
            user-select: none;
        }

        &__ul li {
            position: relative;

            .dropdown {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                height: 48px;
                width: 48px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 8px;
                cursor: pointer;

                svg {
                    transition: all 0.25s ease;
                }
            }

            .submenu {
                display: none;
            }

            &.is-active {
                .submenu {
                    display: block;
                }

                .dropdown {
                    svg {
                        transform: rotate(-180deg);
                    }

                }
            }

            a {
                padding: 8px 16px;
                min-height: 48px;
                color: #1f1f1f;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 600;
                border-radius: 14px;
                margin-top: 6px;
                transition: all 0.25s ease;

                &:hover {
                    background: #E3E3E3;
                }

            }


        }
    }
}

@media screen and (max-width: $w1024) {}