mixin breadcrumb(data, modify, active)
  .breadcrumb(class=""+(modify ? modify : '')+"")
    ul
      each item, index in data
        if index === 0
          li: a(href=item.link class=(active == index ? 'active':''))!= item.text
        else
          li: a(href=item.link class=(active == index ? 'active':''))!= item.text