footer {
    margin-top: auto;
    margin-bottom: 40px;
}

.footer {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    background: $accent;
    border-radius: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 24px;
    text-align: center;
    color: $textPrimary;

    .footer-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 40px;
        border-bottom: 1px solid $borderGrey;
        padding-bottom: 20px;
    }

    .footer-desc__text {
        font-weight: 600;

        &>* {
            max-width: 760px;
        }
    }

    ul {
        padding: 0 40px;
        padding-top: 24px;
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 0 12px;

            a {
                color: $textPrimary;
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }

}