.container
  .footer
    .footer-desc
      .footer-desc__logo
        img(src="../img/ic_launcher.png", alt="", width="48", height="48")
      .footer-desc__text
        p Электронное средство обучения, было создано и структурированно в согласовании с содержательным компонентом учебной программы предмета «Информатика» для 6-11 классов общеобразовательной средней школы.
    .footer-feedback
      ul
        li
          a(href="mailto: vladuks123.vv@gmail.com") Обратная связь
